{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans ce Restaurant</h1>

    <p>Ea laborum veniam et veniam quis aliqua laboris sunt Lorem exercitation.
    Elit laboris elit elit reprehenderit officia. Enim ex magna elit ea dolore.
    Eu id et excepteur reprehenderit labore reprehenderit ad Lorem voluptate sit cillum.</p>
    <p>Ea laborum veniam et veniam quis aliqua laboris sunt Lorem exercitation.
    Elit laboris elit elit reprehenderit officia. Enim ex magna elit ea dolore.
    Eu id et excepteur reprehenderit labore reprehenderit ad Lorem voluptate sit cillum.</p>
{% endblock %}