{% extends 'base.html.twig' %}

{% block title %}Hello RestoController!{% endblock %}

{% block body %}

    <section>
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata"></div>
            <img src="https://place-hold.it/300x150">
            <p>Magna nulla eiusmod adipisicing ipsum labore do. Ad do proident et labore consectetur.
            Elit cillum qui ullamco excepteur nostrud minim magna fugiat occaecat fugiat.
            Irure amet velit ad elit. Excepteur qui adipisicing dolor irure elit fugiat amet.</p>
            <p>Magna nulla eiusmod adipisicing ipsum labore do. Ad do proident et labore consectetur.
            Elit cillum qui ullamco excepteur nostrud minim magna fugiat occaecat fugiat.
            Irure amet velit ad elit. Excepteur qui adipisicing dolor irure elit fugiat amet.</p>
            <a href="{{ path('resto_show') }}">Lire la suite</a>
        </article>
        <article>
        <h2>Titre de l'article</h2>
        <div class="metadata"></div>
        <img src="https://place-hold.it/300x150">
        <p>Magna nulla eiusmod adipisicing ipsum labore do. Ad do proident et labore consectetur.
        Elit cillum qui ullamco excepteur nostrud minim magna fugiat occaecat fugiat.
        Irure amet velit ad elit. Excepteur qui adipisicing dolor irure elit fugiat amet.</p>
        <p>Magna nulla eiusmod adipisicing ipsum labore do. Ad do proident et labore consectetur.
        Elit cillum qui ullamco excepteur nostrud minim magna fugiat occaecat fugiat.
        Irure amet velit ad elit. Excepteur qui adipisicing dolor irure elit fugiat amet.</p>
        <a href="{{ path('resto_show') }}">Lire la suite</a>
    </article>
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata"></div>
        <img src="https://place-hold.it/300x150">
        <p>Magna nulla eiusmod adipisicing ipsum labore do. Ad do proident et labore consectetur.
        Elit cillum qui ullamco excepteur nostrud minim magna fugiat occaecat fugiat.
        Irure amet velit ad elit. Excepteur qui adipisicing dolor irure elit fugiat amet.</p>
        <p>Magna nulla eiusmod adipisicing ipsum labore do. Ad do proident et labore consectetur.
        Elit cillum qui ullamco excepteur nostrud minim magna fugiat occaecat fugiat.
        Irure amet velit ad elit. Excepteur qui adipisicing dolor irure elit fugiat amet.</p>
        <a href="{{ path('resto_show') }}">Lire la suite</a>
    </article>  
        
    </section>

{% endblock %}
