{% extends 'base.html.twig' %}

{% block body %}

        <article>
        <h2>Titre de l'article</h2>
        <div class="metadata"></div>
        <img src="https://place-hold.it/300x150">
        <p>Magna nulla eiusmod adipisicing ipsum labore do. Ad do proident et labore consectetur.
        Elit cillum qui ullamco excepteur nostrud minim magna fugiat occaecat fugiat.
        Irure amet velit ad elit. Excepteur qui adipisicing dolor irure elit fugiat amet.</p>
        <p>Magna nulla eiusmod adipisicing ipsum labore do. Ad do proident et labore consectetur.
        Elit cillum qui ullamco excepteur nostrud minim magna fugiat occaecat fugiat.
        Irure amet velit ad elit. Excepteur qui adipisicing dolor irure elit fugiat amet.</p>
        <hr>
        <p>Voluptate minim consequat ad non voluptate. Lorem excepteur non Lorem eu adipisicing labore ut in reprehenderit
        elit qui reprehenderit ex nulla. Sit labore anim qui laboris.
        Ipsum cillum laborum sit reprehenderit enim cupidatat esse duis do.
        Duis incididunt eiusmod tempor fugiat esse ipsum commodo labore ut.
        Tempor duis minim eu do. Aliquip tempor id eu tempor.
        In sit dolor eu veniam cupidatat laborum irure consectetur aliquip ex exercitation esse minim proident.
        Consequat laboris ipsum non dolor ad veniam magna excepteur incididunt est tempor elit occaecat dolor.
        In sint cillum ipsum incididunt velit est consequat laborum.
        Lorem incididunt sunt voluptate cupidatat excepteur id qui fugiat.
        Fugiat nostrud ex proident tempor deserunt velit Lorem cillum.
        Dolore quis sunt excepteur laborum quis sint aliquip aute ea quis ad minim elit pariatur.
        Esse duis culpa tempor velit incididunt culpa cillum exercitation esse officia dolore.
        Ex nisi in laborum veniam minim dolore ad eiusmod anim id minim officia minim culpa.
        In velit duis ipsum cillum do sint pariatur dolor eiusmod sunt reprehenderit.</p>
    </article>  

{% endblock %}